<!DOCTYPE html>
<html lang="en">
<head>
	<title>your.harvard - Profile</title>
	<meta charset="UTF-8">
	<meta name="description" content="Academica Learning Page Template">
	<meta name="keywords" content="academica, unica, creative, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Favicon -->
	<link href="/static/img/favicon.ico" rel="shortcut icon"/>

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800" rel="stylesheet">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="/static/bootstrap.min.css"/>
	<link rel="stylesheet" href="/static/icon-fonts/font-awesome.min.css"/>
	<link rel="stylesheet" href="/static/icon-fonts/flaticon.css"/>
	<link rel="stylesheet" href="/static/owl.carousel.css"/>
	<link rel="stylesheet" href="/static/style.css"/>


	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>
<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Header section -->
	<header class="header-section">
		<div class="header-warp">
			<div class="container">
				<a href="/" class="site-logo">
					<img src="/static/img/logo.png" alt="">
				</a>
				<div class="user-panel">
					<a href="/logout"><i>Log Out</a></i>
				</div>
				<div class="nav-switch">
					<i class="fa fa-bars"></i>
				</div>
				<ul class="main-menu">
					<li><a href="/"><i>Portal</i></a></li>
					<li><a href="/profile"><i>Personal Information</i></a></li>
					<li><a href="/courses"><i>Courses</i></a></li>
                    <li><a href="https://canvas.harvard.edu/"><i>Canvas</i></a></li>
                    <li><a href="https://facebook.college.harvard.edu//searchform"><i>Student Directory</i></a></li>
				</ul>
			</div>
		</div>
	</header>
	<!-- Header section end -->
    <body>
        <div class = "containter">
            <br><br><br><br><br><br><br><br>
	<img alt="{{ top }}" class="center" src="http://memegen.link/custom/{{ top | urlencode }}/{{ bottom | urlencode }}.jpg?alt=https://i.imgur.com/jyfJuk5.jpg" title="{{ top }}">
        <br><br><br><br>
        </div>
    </body>

	<!-- Footer section -->
	<footer class="footer-section spad pb-0">
		<div class="container">
			<div class="row text-white spad">
				<div class="col-lg-3 col-sm-6 footer-widget">
			</div>
			<div class="footer-bottom">
				<ul class="footer-menu">
					<li><a href="/"><i>Portal</i></a></li>
					<li><a href="/profile"><i>Personal Information</i></a></li>
					<li><a href="/courses"><i>Courses</i></a></li>
                    <li><a href="https://canvas.harvard.edu/"><i>Canvas</i></a></li>
                    <li><a href="https://facebook.college.harvard.edu//searchform"><i>Student Directory</i></a></li>
				</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<p class="text-white  text-center"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
				</div>
			</div>
		</div>



	</footer>
	<!-- Footer section end -->


	<!--====== Javascripts & Jquery ======-->
	<script src="/static/js/jquery-3.2.1.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/owl.carousel.min.js"></script>
	<script src="/static/js/circle-progress.min.js"></script>
	<script src="/static/js/main.js"></script>


</body>
</html>