<!DOCTYPE html>
<html lang="en">
<head>
	<title>your.harvard - Login</title>
	<meta charset="UTF-8">
	<meta name="description" content="Academica Learning Page Template">
	<meta name="keywords" content="academica, unica, creative, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Favicon -->
	<link href="/static/img/favicon.ico" rel="shortcut icon"/>

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800" rel="stylesheet">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="/static/bootstrap.min.css"/>
	<link rel="stylesheet" href="/static/icon-fonts/font-awesome.min.css"/>
	<link rel="stylesheet" href="/static/icon-fonts/flaticon.css"/>
	<link rel="stylesheet" href="/static/owl.carousel.css"/>
	<link rel="stylesheet" href="/static/style.css"/>


	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>
<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Header section -->
	<header class="header-section">
		<div class="header-warp">
			<div class="container">
				<a href="#" class="site-logo">
					<img src="/static/img/logo.png" alt="">
				</a>
				<div class="user-panel">
					<a href="/login"><i>Login</a><span>/</span><a href="/register">Register</i></a>
				</div>
				<div class="nav-switch">
					<i class="fa fa-bars"></i>
				</div>
				<ul class="main-menu">
					<li><a href="/"><i>Portal</i></a></li>
					<li><a href="/profile"><i>Personal Information</i></a></li>
					<li><a href="/courses"><i>Courses</i></a></li>
                    <li><a href="https://canvas.harvard.edu/"><i>Canvas</i></a></li>
                    <li><a href="https://facebook.college.harvard.edu//searchform"><i>Student Directory</i></a></li>
				</ul>
			</div>
		</div>
	</header>
	<!-- Header section end -->

	<!-- Hero section -->
	<section class="hero-section set-bg" data-setbg="https://upload.wikimedia.org/wikipedia/commons/9/97/Pforzheimer_House.JPG">
		<div class="container-fluid">
			<div class="row">

				<div class="col-lg-6">
					<div class="hero-text text-white">
					    <h2><i>Welcome to your.harvard</i></h2>
					    <p><b>With a greater emphasis on a more streamlined, user-friendly Harvard hub, Eric and Manny have crafted your.harvard--a smoother, more ergonomic website with straightforward course selection, social connectivity, and easier access to other important Harvard-affiliated resources (such as the Financial Aid Office, the Office of International Education, the Office of Career Services, etc.)</b></p>
					<div class="hero-author">
						<div class="hero-author-pic set-bg" data-setbg="/static/img/hero-author.jpg"></div>
						<h5>-Created by Eric Jjemba & Emmanuel Garrison-Hooks</h5>
					</div><br><br>
				    </div>
				</div>

			    <div class="col-lg-6">
			        <div class="hero-text text-white">
			             <h2><i>Login</i></h2>
                        <form action="/login" method="post">
                            <div class="form-group">
                                <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text" value="@college.harvard.edu">
                            </div>
                            <div class="form-group">
                                <input class="form-control" name="password" placeholder="Password" type="password">
                            </div>
                            <button class="btn btn-primary" type="submit">Log In</button>
                        </form>
			    </div>
                </div>
			</div>
		</div>
	</section>
	<!-- Hero section end -->


	<!-- Services section -->
	<section class="services-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-6 service-item">
					<div class="si-icon">
						<i class="flaticon-apple"></i>
					</div>
					<div class="si-content">
						<h5><a href="https://college.harvard.edu/financial-aid">Harvard Financial Aid Office</a></h5>
						<p><i>"Each School at Harvard has its own administrative offices, including a financial aid office, and is responsible for awarding aid to its own students."</i></p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 service-item">
					<div class="si-icon">
						<i class="flaticon-mortarboard"></i>
					</div>
					<div class="si-content">
						<h5><a href="https://ocs.fas.harvard.edu/">Office of Career Services</a></h5>
						<p><i>"The Office of Career Services is dedicated to educating, advising, and connecting students to opportunities for summer and post-graduation in order to foster their intellectual, social, and personal transformations."</i></p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 service-item">
					<div class="si-icon">
						<i class="flaticon-idea"></i>
					</div>
					<div class="si-content">
						<h5><a href="https://oie.fas.harvard.edu/">Office of International Education</a></h5>
						<p><i>"The Office of International Education (OIE) works with undergraduate students who are planning for a significant academic year, term, or summer international experience."</i></p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 service-item">
					<div class="si-icon">
						<i class="flaticon-medal"></i>
					</div>
					<div class="si-content">
						<h5><a href="https://bsc.harvard.edu/">Bureau of Study Counsel</a></h5>
						<p><i>"The BSC supports each student’s unique experience as they learn, grow, and engage in Harvard’s educational opportunities. Come to the BSC to explore your learning practices, perspectives, and possibilities."</i></p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 service-item">
					<div class="si-icon">
						<i class="flaticon-question"></i>
					</div>
					<div class="si-content">
						<h5><a href="https://registrar.fas.harvard.edu/">Registrar's Office</a></h5>
						<p><i>"The Registrar of the Faculty of Arts and Sciences serves faculty, students, staff, and alumni of Harvard College, the Graduate School of Arts and Sciences, and the School of Engineering and Applied Sciences."</i></p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 service-item">
					<div class="si-icon">
						<i class="flaticon-learning"></i>
					</div>
					<div class="si-content">
						<h5><a href="https://college.harvard.edu/about/college-offices">List of Offices</a></h5>
						<p><i>This is a general list of the college offices aiming to enrich the Harvard student's overall experience.</i></p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Services section end -->


	<!-- Fact section -->
	<section class="fact-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-sm-6 fact-item">
					<figure>
						<img src="/static/img/icons/1.png" alt="">
					</figure>
					<h2>22,947</h2>
					<p>Total Students</p>
				</div>
				<div class="col-lg-3 col-sm-6 fact-item">
					<figure>
						<img src="/static/img/icons/2.png" alt="">
					</figure>
					<h2>6,655</h2>
					<p>Undergraduate Students</p>
				</div>
				<div class="col-lg-3 col-sm-6 fact-item">
					<figure>
						<img src="/static/img/icons/3.png" alt="">
					</figure>
					<h2>16,000</h2>
					<p>Staff & Faculty</p>
				</div>
				<div class="col-lg-3 col-sm-6 fact-item">
					<figure>
						<img src="/static/img/icons/4.png" alt="">
					</figure>
					<h2>3,700+</h2>
					<p>Courses Offered</p>
				</div>
			</div>
		</div>
	</section>
	<!-- Fact section end -->


	<!-- Footer section -->
	<footer class="footer-section spad pb-0">
		<div class="container">
			<div class="row text-white spad">
				<div class="col-lg-3 col-sm-6 footer-widget">
			</div>
			<div class="footer-bottom">
				<ul class="footer-menu">
					<li><a href="/"><i>Portal</i></a></li>
					<li><a href="/profile"><i>Personal Information</i></a></li>
					<li><a href="/courses"><i>Courses</i></a></li>
                    <li><a href="https://canvas.harvard.edu/"><i>Canvas</i></a></li>
                    <li><a href="https://facebook.college.harvard.edu//searchform"><i>Student Directory</i></a></li>
				</ul>
				</div>
			</div>
	</footer>
	<!-- Footer section end -->


	<!--====== Javascripts & Jquery ======-->
	<script src="/static/js/jquery-3.2.1.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/owl.carousel.min.js"></script>
	<script src="/static/js/circle-progress.min.js"></script>
	<script src="/static/js/main.js"></script>


</body>
</html>